<div class="container pt-8">
    <h1 class="text-2xl text-gray-900 font-bold p-2">Carga masiva de productos</h1>
    <div class="flex flex-row gap-x-8"> 
        
        <!-- Primer card, como cargar productos -->
        <div class="max-w-md rounded overflow-hidden shadow-lg pt-4 flex items-center flex-row">
            <div class="px-6 py-4 ">
                <div class="font-bold text-xl mb-4">Cómo cargar productos</div>
                <p class="text-gray-700 text-base">
                    1. Completar el archivo .csv y subirlo a la web.
                <br>2. Insertar cada imagen 
                </p>
            </div>
        </div>

        <!-- Segunda card, formulario subida .csv -->
        <div class="max-w-md rounded overflow-hidden shadow-lg pt-4 flex flex-column items-center ">
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base pb-2">Subí el archivo .csv con los productos a cargar.</p>
                <%= form_tag({ action: 'create_bulk' }, multipart: true) do %>
                <%= file_field_tag 'csv_file', :class => "relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-solid border-neutral-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-neutral-700 outline-none transition duration-300 ease-in-out file:-mx-3 file:-my-1.5 file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-1.5 file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[margin-inline-end:0.75rem] file:[border-inline-end-width:1px] hover:file:bg-neutral-200 focus:border-primary focus:bg-white focus:text-neutral-700 focus:shadow-[0_0_0_1px] focus:shadow-primary focus:outline-none dark:bg-transparent dark:text-neutral-200 dark:focus:bg-transparent" %>
                <%= submit_tag('Enviar Archivo', :class => "inline-block rounded bg-blue-200 px-6 pt-2.5 pb-2 mt-4 text-xs font-medium uppercase leading-normal text-blue-700 transition duration-150 ease-in-out hover:bg-blue-accent-100 focus:bg-blue-accent-100 focus:outline-none focus:ring-0 active:bg-blue-accent-200") %>
                </button>
                <% end %>
            </div>
        </div>
    </div>

    <% if @new_products.present? %>

        <table>
        <% @new_products.each do |product| %>
            <tr>
                <td><%= product["sku"] %></td>
                <td><%= product["name"] %></td>
                <td><%= product["list_price"] %></td>
                <td><%= product["tags"] %></td>
                
            </tr>
        <% end %>
        </table>
    <% end %>

</div>